[submodule "PSPushPopPressView"]
	path = PSPushPopPressView
	url = git@github.com:NOUSguide/PSPushPopPressView.git
[submodule "NGVolumeControl"]
	path = NGVolumeControl
	url = git@github.com:gshaviv/NGVolumeControl.git
